<h1>Contestants:</h1>

<% @contestants.each do |contestant| %>
  <ul>
  <li>Name: <%= contestant.name %>
    <li> Projects: <% contestant.projects.each do |project| %>
    <ul>
      <li><%= project.name %>
      </ul>
  <% end %>
  </ul>
<% end %>
