<div id="contestants">
  <% @contestants.each do |contestant| %>
    <h1><%= contestant.name %></h1>
    <div id="contestant_project">
      <p><%= contestant.projects_worked_on%></p>
    </div>
  <% end %>
</div>