<h1>All Contestants</h1>

<% @contestants.each do |contestant| %>
  <h3>Name: </h3><%= contestant.name %>
	<h3>Projects: </h3><% contestant.projects.each do |project| %>
		<%= project.name %>
		<% end %>
<% end %>