<h1>Project Name: <%= @project.name %></h1>
<h3>Material: </h3><%= @project.material %>
<h3>Challenge Theme: </h3><%= @project.challenge.theme %>
<h3>Number of Contestants: </h3><%= @project.contestants.count %>

